.read-the-docs {
  color: #888;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

button {
  background-color: #f0f0f0;
  color: #213547;
  border: 1px solid #ccc;
}

button:hover {
  background-color: #e0e0e0;
}
